@import 'tailwindcss';

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

@utility pt-safe {
  padding-top: env(safe-area-inset-top);
}

@utility p-safe {
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

@utility filter-in-division {
  /* Source: https://isotropic.co/tool/hex-color-to-css-filter/ */
  /* Color: #0ea5e9 (tw-sky-500) */
  filter: invert(64%) sepia(45%) saturate(5713%) hue-rotate(166deg)
    brightness(95%) contrast(91%);
}

@utility full-bg-moon-50 {
  @apply flex h-screen w-screen items-center justify-center bg-moon-50;
}

@utility auth-container {
  @apply flex h-fit w-80 flex-col justify-between gap-6 rounded-lg bg-zinc-50 p-4 bg-blend-hard-light shadow-xs;
}

@utility settings-wrapper {
  & p {
    @apply py-2 text-base;
  }
  @apply pb-8;
}

@utility btn {
  @apply rounded-sm bg-moon-500 px-4 py-2 font-bold text-white hover:bg-moon-300 disabled:opacity-25 disabled:bg-gray-500 disabled:text-black;

  &.secondary {
    @apply bg-zinc-500 hover:bg-gray-400 disabled:bg-gray-700 disabled:text-white;
  }

  &.error {
    @apply bg-red-700 hover:bg-red-400 disabled:bg-red-600 disabled:text-white;
  }

  &.songInformation {
    @apply block w-full rounded-lg bg-moon-500 px-5 py-3 font-medium text-white  hover:font-semibold active:outline-hidden active:ring-3 active:ring-moon-300;
  }

  &.toRepertoire {
    @apply rounded-sm bg-green-500 px-12 py-2 font-bold text-white hover:bg-green-300 disabled:opacity-25 disabled:bg-gray-500 disabled:text-black;
  }

  &.submit {
    @apply flex w-full justify-center gap-2 rounded-lg p-2.5;
  }
}

@utility secondary {
  &.btn {
    @apply bg-zinc-500 hover:bg-gray-400 disabled:bg-gray-700 disabled:text-white;
  }
}

@utility error {
  &.btn {
    @apply bg-red-700 hover:bg-red-400 disabled:bg-red-600 disabled:text-white;
  }

  .input &input {
    @apply outline-red-400;
  }
}

@utility page-wrapper {
  @apply mx-auto px-4 pt-6;
}

@utility page-header {
  @apply pb-4 text-2xl font-semibold sm:text-3xl lg:text-4xl;
}

@utility progress-bar-icon {
  @apply relative flex cursor-pointer hover:text-moon-500;
}

@utility area-header {
  @apply pt-2 pb-6 text-xl text-moon-500;
}

@utility input-container {
  @apply mb-6 text-left;
}

@utility input {
  @apply relative mt-1;

  & input {
    @apply w-full rounded-lg outline-solid outline-2 outline-gray-300 hover:outline-moon-300 focus:outline-moon-300 p-4 pe-12 text-base shadow-xs;
  }

  & select {
    @apply w-full bg-white appearance-none rounded-lg outline-solid outline-2 outline-gray-300 hover:outline-moon-300 focus:outline-moon-300 p-4 pe-12 text-base shadow-xs;
  }

  & input.error {
    @apply outline-red-400;
  }

  & span {
    @apply absolute inset-y-0 end-0 grid place-content-center px-4;
  }

  & svg {
    @apply h-6 w-6 text-gray-400;
  }
}

@utility songInformation {
  &.btn {
    @apply block w-full rounded-lg bg-moon-500 px-5 py-3 font-medium text-white  hover:font-semibold active:outline-hidden active:ring-3 active:ring-moon-300;
  }
}

@utility toRepertoire {
  &.btn {
    @apply rounded-sm bg-green-500 px-12 py-2 font-bold text-white hover:bg-green-300 disabled:opacity-25 disabled:bg-gray-500 disabled:text-black;
  }
}

@utility submit {
  &.btn {
    @apply flex w-full justify-center gap-2 rounded-lg p-2.5;
  }
}

@utility info-item {
  @apply flex items-center gap-2;

  & > svg {
    @apply text-moon h-5;
  }
}

@utility attendanceButtonItem {
  @apply inline-flex w-full cursor-pointer items-center justify-center
        bg-zinc-100 p-2 text-sm text-zinc-500
        peer-checked:font-medium peer-checked:text-zinc-700 peer-checked:bg-zinc-300
        hover:bg-zinc-300 hover:text-gray-600;

  & svg {
    @apply mx-auto;
  }
}

@layer utilities {
  :root {
    /* Font is defined in _app.tsx (Next.js Google Font) */
    --font-lexend: 'Lexend', sans-serif;
    --toastify-font-family: var(--font-lexend);
  }
}

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
        min-height: calc(100% + env(safe-area-inset-top));
    }
}
